@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var msg = ViewData["message"].ToString();

}
<h3>Message: @msg</h3>
@* <h3>X=@ViewData["x"].ToString()</h3> *@
<h3>Y=@ViewBag.y</h3>

@Html.ActionLink("Goto SecondPage","SecondPage")